.App{
    height: 100vh;
    width: 210vh;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}
/* .product{
    height: 100vh;
    width: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 2px solid rgb(31, 27, 147);
    /* border: 2px solid blue; */

/* } */
/* .createitem
    {
        height: 100vh;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center; */
        /* border: 2px solid black; */
    /* } */ 
